$main-txt-color: #212121;
$secondary-txt-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-color-header: #000;
$secondary-bcg-color: #2f303a;
$button-bcg-color: #f5f4fa;
$team-bcg-color: #f5f4fa;
$start-color: rgba(47, 48, 58, 0.4);
$work-background: rgba(47, 48, 58, 0.8);
